<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div *ngIf="id;else elseBlock">
                <h3 class="mb-4">Update Player</h3>
                <form>
                    <div class="mb-3">
                        <label for="player" class="form-label">Player</label>
                        <input class="form-control" id="player" [(ngModel)]="player" name="player">
                    </div>

                    <label for="country" class="form-label">Country</label>
                    <select class="form-select mb-3" id="country" [(ngModel)]="country" name="country">
                        <option disabled>Country</option>
                        <option *ngFor="let data of countries" [value]="data.id">{{data.name}}</option>
                    </select>

                    <label for="club" class="form-label">Club</label>
                    <select class="form-select mb-3" id="club" [(ngModel)]="club" name="club">
                        <option disabled>Club</option>
                        <option *ngFor="let data of clubs" [value]="data.id">{{data.name}}</option>
                    </select>

                    <label for="positions" class="form-label">Positions</label>
                    <div class="clearfix"></div>
                    <div class="form-check form-check-inline" *ngFor="let item of positions">
                        <input [ngModelOptions]="{standalone: true}" [checked]="item.isChecked" class="form-check-input"
                            type="checkbox" id="{{item.id}}" [(ngModel)]="item.isChecked">
                        <label class="form-check-label" for="{{item.id}}">
                            {{item.name}}
                        </label>
                    </div>
                    <div class="clearfix mb-5"></div>

                    <button (click)="onClick()" class="btn btn-primary float-end w-50">Update</button>
                </form>
            </div>
            <ng-template #elseBlock>
                <h3 class="mb-4">Create Player</h3>
                <form>
                    <div class="mb-3">
                        <label for="player" class="form-label">Player</label>
                        <input class="form-control" id="player" [(ngModel)]="player" name="player">
                    </div>

                    <label for="country" class="form-label">Country</label>
                    <select class="form-select mb-3" id="country" [(ngModel)]="country" name="country">
                        <option disabled>Country</option>
                        <option *ngFor="let data of countries" [value]="data.id">{{data.name}}</option>
                    </select>

                    <label for="club" class="form-label">Club</label>
                    <select class="form-select mb-3" id="club" [(ngModel)]="club" name="club">
                        <option disabled>Club</option>
                        <option *ngFor="let data of clubs" [value]="data.id">{{data.name}}</option>
                    </select>

                    <label for="positions" class="form-label">Positions</label>
                    <div class="clearfix"></div>
                    <div class="form-check form-check-inline" *ngFor="let item of positions">
                        <input [ngModelOptions]="{standalone: true}" [checked]="item.isChecked" class="form-check-input"
                            type="checkbox" id="{{item.id}}" [(ngModel)]="item.isChecked">
                        <label class="form-check-label" for="{{item.id}}">
                            {{item.name}}
                        </label>
                    </div>
                    <div class="clearfix mb-5"></div>

                    <button (click)="onClick()" class="btn btn-success float-end w-50">Create</button>
                </form>
            </ng-template>
        </div>
    </div>
</div>