<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <h2>{{name}}</h2>
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Changes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas; let i = index">
            <th scope="row">{{i+1}}</th>
            <!-- <td [routerLink]="['/continents', data.id]">{{data.name}}</td> -->

            <td routerLink="/{{name}}/{{data.id}}">{{data.name}}</td>
            <td>
              <button class="btn btn-primary mx-1">
                <i routerLink="/{{name}}/update/{{data.id}}" class="fas fa-pen-alt"></i>
              </button>
              <button (click)="delete(name, data.id)" class="btn btn-danger mx-1">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>