<div class="container">
    <div class="row justify-content-center mt-5">
      
      <div class="col-4">
        <h2>All Clubs in {{country.name}}</h2>
        <table class="table  table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of country.clubs; let i = index">
              <th scope="row">{{i+1}}</th>
              <td [routerLink]="['/Clubs', item.id]">{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <h2>All Players of {{country.name}}</h2>
        <table class="table  table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of country.players; let i = index">
              <th scope="row">{{i+1}}</th>
              <td [routerLink]="['/Players', item.id]">{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>