<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-4">
        <h3>This is a players of {{club.name}}</h3>
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of club.players; let i = index">
              <th scope="row">{{i+1}}</th>
              <td [routerLink]="['/Players', item.id]">{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>